[Unit]
Description=Starte Zeitmaschine, wenn WLAN Hotspot aktiv
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/home/zeitmaschine/zeitmaschine/zeitmaschine_project/zeitmaschine/service_files/starte-zeitmaschine.sh
WorkingDirectory=/home/zeitmaschine/zeitmaschine/zeitmaschine_project/zeitmaschine/service_files
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/zeitmaschine/.Xauthority
RemainAfterExit=true

[Install]
WantedBy=default.target

